<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.ocasa">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.CALL_PHONE" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:supportsRtl="true"
    android:name=".OcasaApplication" android:theme="@style/AppTheme">

    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBdt-8CwgQHFtDPjjDjYC0g-ZOdCOpqWSo" />

    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode" />

    <activity android:name=".loginflow.LoginFlowActivity" android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".loginflow.password.ForgotPassWordActivity" android:screenOrientation="portrait"
        android:parentActivityName=".loginflow.LoginFlowActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".loginflow.LoginFlowActivity" />
    </activity>

    <activity android:name=".home.HomeActivity" android:launchMode="singleTop"
        android:screenOrientation="portrait" />

    <activity android:screenOrientation="portrait" android:name=".activity.ReadFieldActvivity" />

    <activity android:name=".record.detail.DetailRecordActivity" android:windowSoftInputMode="adjustPan"
        android:screenOrientation="portrait" android:parentActivityName=".home.HomeActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".home.HomeActivity" />
    </activity>

    <activity android:name=".receipt.item.update.UpdateReceiptItemActivity"
        android:screenOrientation="portrait" android:launchMode="singleTop"
        android:parentActivityName=".receipt.edit.EditReceiptActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".receipt.edit.EditReceiptActivity" />
    </activity>

    <activity android:name=".receipt.item.detail.DetailReceiptItemActivity"
        android:screenOrientation="portrait" android:launchMode="singleTop"
        android:parentActivityName=".receipt.detail.DetailReceiptActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".receipt.detail.DetailReceiptActivity" />
    </activity>

    <activity android:screenOrientation="portrait" android:name=".receipt.header.EditHeaderReceiptActivity"
        android:parentActivityName=".home.HomeActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".home.HomeActivity" />
    </activity>

    <activity android:screenOrientation="portrait" android:name=".receipt.status.ReceiptStatusActvity"
        android:parentActivityName=".receipt.edit.EditReceiptActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".receipt.edit.EditReceiptActivity" />
    </activity>

    <activity android:screenOrientation="portrait" android:name=".record.invoke.InvokeRecordActivity"
        android:parentActivityName=".record.create.CreateRecordActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".record.create.CreateRecordActivity" />
    </activity>

    <activity android:name=".receipt.item.detailaction.DetailActionActivity"
        android:screenOrientation="portrait" />

    <activity android:theme="@style/FilterTheme" android:name=".activity.FilterActivity" />

    <activity android:theme="@style/FilterTheme" android:name=".activity.ValidityDateActivity" />

    <activity android:name=".record.create.CreateRecordActivity" android:parentActivityName=".home.HomeActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".home.HomeActivity" />
    </activity>

    <activity android:name=".receipt.edit.EditReceiptActivity" android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan" android:parentActivityName=".home.HomeActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".home.HomeActivity" />
    </activity>

    <activity android:name=".receipt.detail.DetailReceiptActivity" android:screenOrientation="portrait"
        android:parentActivityName=".home.HomeActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".home.HomeActivity" />
    </activity>

    <activity android:screenOrientation="portrait" android:name=".sync.SyncActivity" />

    <activity android:screenOrientation="portrait" android:name=".settings.SettingsActivity" />

    <activity android:name="com.android.ocasa.map.MapsActivity" android:label="@string/title_activity_maps" />

    <!--- PICK UP -->

    <activity android:name=".pickup.scanner.ScannerActivity" android:screenOrientation="portrait" />

    <!--  - - - -  -->

    <service android:name=".sync.SyncService" />

    <service android:name=".sync.SyncIntentSerivce" />

    <service android:name=".sync.LocationLogService" />

    <receiver android:name=".receiver.RequestTableReceiver" android:exported="false">
        <intent-filter>
            <action android:name="com.android.ocasa.service.DOWNLOAD_TABLE_REQUEST" />
        </intent-filter>
    </receiver>

</application>

</manifest>